{# src/Ruudy/MetronicBundle/Resources/views/metronic/zones/admin/footer.html.twig #}
<div class="page-footer">
    <div class="page-footer-inner">
        {% block footer_copyright %}2014 &copy; Metronic by keenthemes.{% endblock %}
    </div>
    <div class="page-footer-tools">
		<span class="go-top">
		<i class="fa fa-angle-up"></i>
		</span>
    </div>
</div>