{# src/Ruudy/MetronicBundle/Resources/views/metronic/Pieces/PageHeader/actions_dropdown.html.twig #}
{#{{ TODO make it blocks }}#}
<li class="btn-group">
    <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
        <span>Actions</span><i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
        <li>
            <a href="#">Action</a>
        </li>
        <li>
            <a href="#">Another action</a>
        </li>
        <li>
            <a href="#">Something else here</a>
        </li>
        <li class="divider">
        </li>
        <li>
            <a href="#">Separated link</a>
        </li>
    </ul>
</li>