{# src/Ruudy/MetronicBundle/Resources/views/metronic/Pieces/PageHeader/page_breadcrumb.html.twig #}
{#{{ TODO make it blocks }}#}
<li>
    <i class="fa fa-home"></i>
    <a href="{{ path('admin_home') }}">Home</a>
    <i class="fa fa-angle-right"></i>
</li>
<li>
    <a href="#">Dashboard</a>
</li>