{# src/Ruudy/MetronicBundle/Resources/views/metronic/Pieces/PageHeader/page_datepicker.html.twig #}
{#{{ TODO make it blocks }}#}
<li class="pull-right">
    <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
        <i class="fa fa-calendar"></i>
        <span></span>
        <i class="fa fa-angle-down"></i>
    </div>
</li>