{# src/Ruudy/MetronicBundle/Resources/views/metronic/Pieces/Login/logo.html.twig #}
<div class="logo">
    <a href="{% block home_path %}{% endblock %}">
        <img src="{% block logo_login_path %}{% endblock %}" alt=""/>
    </a>
</div>