{# src/Ruudy/MetronicBundle/Resources/views/metronic/Pieces/Header/logo.html.twig #}
<div class="page-logo">
    <a href="{% block backend_home_path %}{% endblock %}">
        <img src="{% block logo_header %}{% endblock %}" alt="logo" class="logo-default"/>
    </a>
    <div class="menu-toggler sidebar-toggler hide">
        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
    </div>
</div>