{# src/Ruudy/MetronicBundle/Resources/views/metronic/Pieces/Header/responsive_menu_toggler.html.twig #}
{#{{ TODO make it blocks }}#}
<div class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
</div>