{# src/Ruudy/MetronicBundle/Resources/views/metronic/Pieces/Sidebar/sidebar_search.html.twig #}
{#{{ TODO make it blocks }}#}
<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
<li class="sidebar-search-wrapper">
    <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
    <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
    <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
    <form class="sidebar-search" action="extra_search.html" method="POST">
        <a href="javascript:;" class="remove">
        </a>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <!-- DOC: value=" ", that is, value with space must be passed to the submit button -->
                <input class="btn submit" type="button" type="button" value=" "/>
            </span>
        </div>
    </form>
    <!-- END RESPONSIVE QUICK SEARCH FORM -->
</li>