{# src/Ruudy/MetronicBundle/Resources/views/metronic/Pieces/Sidebar/sidebar_toggler.html.twig #}
<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
<li class="sidebar-toggler-wrapper">
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="sidebar-toggler">
    </div>
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
</li>